@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Hi, I am Zeynep!</h1>
        <p class="lead">I am a third-year Computer Engineering student. I am interested in web technologies, artificial intelligence and data science.</p>
        <hr />
        <p>If you would like to see my projects, get information about me or contact me, you can use the links below.</p>
        
        <a class="btn btn-primary btn-lg m-2" href="/Home/About">About me</a>
        <a class="btn btn-success btn-lg m-2" href="/Home/Projects">My Projects</a>
        <a class="btn btn-outline-secondary btn-lg m-2" href="/Home/Contact">Contact</a>
    </div>
</div>
